{$DOMAIN:api.awlc.app} {
	encode gzip zstd

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		-Server
	}

	@admin path /admin*
	handle @admin {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy api:8000 {
			health_uri /health
			health_interval 30s
		}
	}
}
